.DS_Store
.vscode/
.authentication.js
.node_modules
.notes/
**/**-todo.md

battery_results/**
battery_results/
battery_results

Code/**/**
Code/
Code/

# Use a single line with trailing slash for directories
comparison_results/
# Or use ** to match all files and subdirectories 
/Comparison_results/**

comparison_results_fixed/**
comparison_results_fixed/
comparison_results_fixed

Docs/**
Docs/
Docs/

data/**/*.png 
data/**/*.zip

data/**/*.json
data/**/*.pkl
data/**/*.pt
data/**/*.pt.gz
data/**/*.zip
data/**/*.zip.gz

outcomes/**
outcomes/
outcomes

venv/
venv/**
venv**


src/not_usefull/**
src/not_usefull/
src/not_usefull









